<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kiếm Thế Hoa Sơn - Quên mật khẩu</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	
		 <link rel="icon" type="image/png" sizes="96x96" th:href="@{/image/favicon.ico}">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/gsdk.css}" rel="stylesheet" />
    <link th:href="@{/css/examples.css}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" />
</head>
<body>
	
	<div class="wrapper">
		<div class="main">
			<div class="modal-small">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title text-center">Quên mật khẩu</h4>
						</div>
						<form th:action="@{/dang-nhap/quen-mat-khau}" method='POST'>
							<div class="modal-body">
								<div class="social-area">
									<a th:href="@{/dang-nhap}" title="Đăng nhập" class="btn btn-round btn-fill btn-social btn-twitter">
										Đăng nhập
									</a>
									<a href="https://www.facebook.com/Ki%E1%BA%BFm-Th%E1%BA%BF-Japan-105917654786302"
										title="Fanpage" class="btn btn-round btn-fill btn-social btn-google">
										Fanpage
									</a>

								</div>
								<span class="divider"> or </span>
								<div style="color: red; font-size: 10px;" th:text="${errMsg}"></div>
								<div th:each="item : ${nullList}">
                                    <p style="color: red; font-size: 10px;">[[${item}]]</p>
                                </div>
								<!-- tài khoản -->
								<div class="form-group">
									<b>TÊN TÀI KHOẢN</b>
								</div>
								<div class="form-group">
									<input type="text" placeholder="Tên tài khoản" maxlength="32" class="form-control"
										name="loginName"/>
								</div>
								<!-- Email -->
								<div class="form-group">
									<b>MẬT KHẨU CẤP 2</b>
								</div>
								<div class="form-group">
									<input type="text" placeholder="Mật khẩu cấp 2" maxlength="32" class="form-control"
										name="passwordLevel2"/>
								</div>
								<!-- mật khẩu mới -->
								<div class="form-group">
									<b>MẬT KHẨU MỚI</b>
								</div>
								<div class="form-group">
									<input type="password" placeholder="Mật khẩu" class="form-control"
										name="password" />
								</div>
								<!-- xác nhận mật khẩu mới -->
								<div class="form-group">
									<b>XÁC NHẬN MẬT KHẨU MỚI</b>
								</div>
								<div class="form-group">
									<input type="password" placeholder="Xác nhận mật khẩu" class="form-control"
										name="passwordRepeat" />
								</div>
								<br>
								<br>
								<!-- submit button -->
								<div class="form-group">
								<button type="submit" name="forgetPwd" class="btn btn-info btn-fill btn-block">Đổi mật khẩu</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>


	    <!-- /#wrapper -->

    <!--  jQuery and Bootstrap core files    -->
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-ui.custom.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

    <!--  Plugins -->
    <script th:src="@{/js/gsdk-checkbox.js}"></script>
    <script th:src="@{/js/gsdk-morphing.js}"></script>
    <script th:src="@{/js/gsdk-radio.js}"></script>
    <script th:src="@{/js/gsdk-bootstrapswitch.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/chartist.min.js}"></script>
    <script th:src="@{/js/jquery.tagsinput.js}"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->

    <!--  Get Shit Done Kit PRO Core javascript 	 -->
    <script th:src="@{/js/get-shit-done.js}"></script>
    
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution="setup_tool"
        page_id="103801301699815"
  logged_in_greeting="Hoa Sơn Kiếm xin chào, chúng tôi có thể giúp gì cho bạn?"
  logged_out_greeting="Hoa Sơn Kiếm xin chào, chúng tôi có thể giúp gì cho bạn?">
      </div>
</body>
</html>